@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.movie-background{
    background-image: url(../images/stcoverposter.jpg);
    background-size: cover;
    background-position: center;

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.movie-background nav{
    color: white;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.movie-background img{
    margin-left: 40px;
    height: 80px;
    width: 120px;

}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 450px;
    margin-left: 15px;

    font-size: .7rem;
}

.profile{
    background-image: url(../images/netflixprofile.png);
    background-position: center;
    background-size: cover;

    height: 30px;
    width: 30px;

    margin-left: auto;
    margin-right: 50px;
}

.about{
    height: fit-content;
    width: 400px;
    margin-left: 40px;

    color: white;
}

.about h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.about button{
    height: 40px;
    width: 130px;
    margin-right: 5px;

    font-size: .8rem;

    border: none;
    border-radius: 3px;

    color: white;
}

.about p{
    margin-top: 15px;
    line-height: 25px;
}

#play-button{
    background-color: red;
}

#more-info-button{
    background-color: rgba(128, 128, 128, 0.9);
}

.fadeaway{
    margin-top: auto;
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(transparent, black);
}

.movie-genres{
    height: 300vh;

    display: flex;
    flex-direction: column;
    gap: 50px;

    background-color: black;
}

.movie-lists{
    height: fit-content;
    margin-top: 80px;
    overflow-y: hidden;
    padding-left: 30px;
    padding-right: 30px;
}

.movie-lists h1{
    color: white;
    width: fit-content;
    /* margin-bottom: 20px; */
}

.movie-list{
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    gap: 20px;

    height: fit-content;
}

.movie-lists::-webkit-scrollbar{
    width: 5px;
}

.movie-thumbnail{
    height: 150px;
    width: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

#umbrella-academy{
    background-image: url(../images/umbrellaacademy.jpeg);

}

#top-boy{
    background-image: url(../images/topboy2.jpeg);

}

#one-peice{
    background-image: url(../images/onepeice.jpg);

}

#you{
    background-image: url(../images/you.jpeg);

}

#wednesday{
    background-image: url(../images/wednesday.jpeg);

}

#lucifer{
    background-image: url(../images/lucifer.jpeg);

}

#family-guy{
    background-image: url(../images/familyguy.jpeg);

}

#peaky-blinders{
    background-image: url(../images/peakyblinders.jpeg);

}

#riverdale{
    background-image: url(../images/riverdale.jpeg);

}

#bridgerton{
    background-image: url(../images/bridgerton.jpeg);

}

/* ------ custom scrollbar ------ */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.582);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: gray;
}