*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.landing-page{
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    background-image: url(../images/netflixteaser.png);
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 120px;
    background-image: linear-gradient(black, transparent);
}

.netflix-icon{
    margin-left: 150px;
    height: 120px;
    width: 160px;
    background-image: url(../images/Netflix-Logo.wine.svg);
    background-size: cover;
}

.signin{
    margin-right: 150px;
    height: 35px;
    width: 80px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.features{
    width: 100vw;
    height: 80vh;
    background-color: black;
    border-top: 8px solid rgba(128, 128, 128, 0.3);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}

.motto{
    color: white;
    align-self: center;
    margin-top: 150px;
    text-align: center;
    line-height: 60px;
}

.motto h1{
    font-size: 50px;
    font-weight: bolder;
}

.motto h2{
    font-size: 25px;
}

.motto h3{
    font-size: 20px;
}

#email{
    height: 50px;
    width: 350px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.493);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

#submit{
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.quote-image{
    height: 300px;
    width: 350px;
    border: red solid 2px;
}

.quote-image.one{
    background-image: url(../images/thibault-penin-AWOl7qqsffM-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.quote-image.two{
    background-image: url();
    background-size: cover;
    background-position: center;
}

.quote-image.three{
    background-image: url();
    background-size: cover;
    background-position: center;
}

.quote-image.four{
    background-image: url();
    background-size: cover;
    background-position: center;
}