@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.login-page{
    background-image: url(../images/netflixteaser.png);
    height: 150vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.netflix-banner{
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(black, transparent);
}

.netflix-image{
    height: 90px;
    width: 200px;
    margin-left: 20px;
}

form{
    height: 110vh;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    flex-direction: column;
    padding: 60px;
}

form h1{
    font-size: 40px;
    color: white;
}

form input{
    height: 50px;
    background-color: rgb(51, 51, 51);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 20px;
    border-radius: 3px;
}

#login-email{
    margin-top: 30px;
}

#password{
    margin-top: 15px;
}

button{
    height: 50px;
    margin-top: 50px;
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    font-weight: bolder;
}

form div{
    display: flex;
    align-items: center;
    color: gray;
    width: 330px;
}

form div a{
    margin-left: auto;
    color: gray;
    text-decoration: none;
}

.email-error, .password-error{
    width: 330px;
    background-color: transparent;
    font-size: 13px;
    color: coral;
}

#login-email:focus, #password:focus{
    outline: none;
    background-color: rgb(77, 77, 77);
}

.active{
    border-bottom: 2px solid coral;
}